body {
  background-color:var(--primary-color);
}

.form-box {
  padding: 20px;
  margin: 100px auto;
  width: 250px;
  background-color: var(--primary-color);
  text-align: left;
}

input[type="text"] {
  width: 150px;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid var(--primary-color);
}

input[type="submit"] {
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}